.categories {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
}


.categoryButton {
    padding: 0.5rem 1rem;
    background-color: #84a59d;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    margin-right: 0.5rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}


.categoryButton:hover {
    background-color: #ffb5a7;
    color: #293241;
}