.galleryContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4%;
    max-width: 1440px;
    margin: 4%;

}

.galleryImg {
    max-width: 350px;
    max-height: auto;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.galleryImg:hover {
    transform: scale(1.1);
}

@media (max-width: 1024px) {
    .galleryContainer {

        grid-template-columns: repeat(2, 1fr);
        gap: 2%;
        margin: 4%;
        max-width: 100%;
    }

    .galleryImg {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .galleryContainer {
        grid-template-columns: repeat(1, 1fr);
        gap: 2%;
        margin: 4%;
        max-width: 100%;
    }

    .galleryImg {
        max-width: 100%;
    }
}